nodered/data/flows.json
[
    {
        "id": "dc9d5d534fab6eb2",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "607da66db889fa93",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2efdb2c1dc23cfad",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "3a2988a6f153903d",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "sensores",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "201db2d92c96bd45",
        "type": "postgresql",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "query": "",
        "postgreSQLConfig": "2efdb2c1dc23cfad",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "eaa2a4c93022ded1",
        "type": "mongodb4",
        "z": "dc9d5d534fab6eb2",
        "clientNode": "3a2988a6f153903d",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 770,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "27838cf1f6ac63ae",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub Sensor",
        "topic": "sensor/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8eeeb465656bbdff"
            ]
        ]
    },
    {
        "id": "db829189fd79a130",
        "type": "uuid",
        "z": "dc9d5d534fab6eb2",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "d5c2c838e4af3eb4"
            ]
        ]
    },
    {
        "id": "4c35974a37f3211f",
        "type": "debug",
        "z": "dc9d5d534fab6eb2",
        "name": "ResponseReading",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "ebaebbe55c0893f4",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "function 1",
        "func": "var obj = {};\n\nobj._id = msg.id;\nobj.createAt = new Date();\nobj.temperature = msg.payload.t;\nobj.humidity = msg.payload.umid;\nobj.topic = msg.topic;\n\nmsg = {};\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "94155497ecfb6cee",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "function 2",
        "func": "var objeto = {};\n\nobjeto.query = `INSERT INTO sensores (id, createdAt, temperature, humidity, topic) VALUES ($1, $2, $3, $4, $5)`;\nobjeto.params = [\n    msg.payload._id,\n    msg.payload.createAt,\n    msg.payload.temperature,\n    msg.payload.humidity,\n    msg.payload.topic\n]\n\nmsg = {};\nmsg = objeto;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "0591cbadbb241a7e",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub DEVICE",
        "topic": "devices/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "db829189fd79a130"
            ]
        ]
    },
    {
        "id": "a0933cd92774e2e8",
        "type": "debug",
        "z": "dc9d5d534fab6eb2",
        "name": "ResponseDevise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "d5c2c838e4af3eb4",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessDataDevice",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.created_at = new Date();\nmessage.operation = \"insertOne\";\nmessage.collection = \"devices\";\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "eaa2a4c93022ded1",
                "a0933cd92774e2e8"
            ]
        ]
    },
    {
        "id": "8eeeb465656bbdff",
        "type": "uuid",
        "z": "dc9d5d534fab6eb2",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "a0480feb96a280b3"
            ]
        ]
    },
    {
        "id": "a0480feb96a280b3",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessDataReading",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.topic = msg.topic;\nmessage.payload.created_at = new Date();\n\nmessage.operation = \"insertOne\";\nmessage.collection = \"reading_data\";\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "eaa2a4c93022ded1",
                "4c35974a37f3211f",
                "e74ef72fb6e48fb7"
            ]
        ]
    },
    {
        "id": "e8e913d57c94b55a",
        "type": "mqtt out",
        "z": "dc9d5d534fab6eb2",
        "name": "Pub CMD_1",
        "topic": "testando1",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "607da66db889fa93",
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e83279be27293a4",
        "type": "inject",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"ESP32-001\",\"servo-motor\":\"90°c\"}",
        "payloadType": "json",
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "e8e913d57c94b55a"
            ]
        ]
    },
    {
        "id": "d8c67181bf7b9431",
        "type": "complete",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "scope": [
            "eaa2a4c93022ded1"
        ],
        "uncaught": false,
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "03243129f859119a"
            ]
        ]
    },
    {
        "id": "03243129f859119a",
        "type": "mqtt out",
        "z": "dc9d5d534fab6eb2",
        "name": "Pub CMD_2",
        "topic": "testando2",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "607da66db889fa93",
        "x": 1210,
        "y": 340,
        "wires": []
    },
    {
        "id": "e74ef72fb6e48fb7",
        "type": "switch",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "25746cf89df74df6"
            ]
        ]
    },
    {
        "id": "0b34f01ebd52c4fb",
        "type": "mqtt out",
        "z": "dc9d5d534fab6eb2",
        "name": "Pub CMD",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "607da66db889fa93",
        "x": 1220,
        "y": 180,
        "wires": []
    },
    {
        "id": "ed6e3c996ff0a094",
        "type": "debug",
        "z": "dc9d5d534fab6eb2",
        "name": "ResponseCommand",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 80,
        "wires": []
    },
    {
        "id": "25746cf89df74df6",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessDataCommand",
        "func": "var command = {\n\n    payload: {\n        power_on: true,\n        actuador: \"MOTOR CC\"\n    },\n    topic: `device/${msg.payload.device_id}/cmd/motor`\n};\nreturn command;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "0b34f01ebd52c4fb",
                "ed6e3c996ff0a094"
            ]
        ]
    },
    {
        "id": "b6d1b8d68936554b",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub ACK",
        "topic": "device/+/ack/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "bb02e47269ce9036"
            ]
        ]
    },
    {
        "id": "52abc3c16e1e5137",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub STATUS",
        "topic": "device/+/state/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "65901b96d59ab632"
            ]
        ]
    },
    {
        "id": "8e602ace589f5c3f",
        "type": "debug",
        "z": "dc9d5d534fab6eb2",
        "name": "ResponseAck",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "65bd906b09118c06",
        "type": "debug",
        "z": "dc9d5d534fab6eb2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 620,
        "wires": []
    },
    {
        "id": "bb02e47269ce9036",
        "type": "uuid",
        "z": "dc9d5d534fab6eb2",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "890f00d15d39b917"
            ]
        ]
    },
    {
        "id": "890f00d15d39b917",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessACK",
        "func": "var ack = {\n   payload: {\n      ...msg.payload,\n      created_at: new Date(),\n      raw: JSON.stringify(msg.payload),\n      topic: msg.topic,\n      device_id: msg.topic.split(\"/\")[1],\n      actuador: msg.topic.split(\"/\")[3],\n   },\n   operation: \"insertOne\",\n   collection: \"confirmation\"\n};\nreturn ack;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "e99503cfa1597329",
                "8e602ace589f5c3f"
            ]
        ]
    },
    {
        "id": "e99503cfa1597329",
        "type": "mongodb4",
        "z": "dc9d5d534fab6eb2",
        "clientNode": "3a2988a6f153903d",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "4b96cf0dc14ff580"
            ]
        ]
    },
    {
        "id": "65901b96d59ab632",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "FindStatus",
        "func": "var device_id = msg.topic.split(\"/\")[1];\nvar actuador = msg.topic.split(\"/\")[3];\n\nmsg.payload = {\n    device_id: device_id,\n    actuador: actuador\n}\nmsg.data={\n    status:msg.payload.status,\n    updated_status:msg.payload.updated_status\n}\nmsg.collection = \"status\";\nmsg.operation = \"findOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 560,
        "wires": [
            [
                "e99503cfa1597329",
                "65bd906b09118c06"
            ]
        ]
    },
    {
        "id": "4b96cf0dc14ff580",
        "type": "switch",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 560,
        "wires": [
            [],
            []
        ]
    }
]